<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/starRating.css" />
<div class="offset-1">
  <div class="row">
    <div class="col-6">
      <div class="card mb-3" style="width: 30rem">
        <img src="<%= camp.image%>" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Campground <%=camp.title %></h5>
          <p class="card-text"><%=camp.description %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Location: <%=camp.location %></li>
          <li class="list-group-item">Price: $ <%=camp.price %></li>
          <li class="list-group-item">
            Submitted By: <%=camp.author.username %>
          </li>
        </ul>
        <% if (currentUser && camp.author._id.equals(currentUser._id)) { %>
        <div class="card-body">
          <a href="/campgrounds" class="btn btn-info">All Campgrounds</a>
          <a href="/campgrounds/<%= camp._id %>/edit" class="btn btn-info"
            >Edit Camp</a
          >
          <form
            action="/campgrounds/<%= camp._id%>?_method=delete"
            method="post"
          >
            <button class="btn btn-danger mt-2">Delete</button>
          </form>
        </div>
        <% } %>
        <div class="card-footer text-body-secondary">2 days ago</div>
      </div>
    </div>
    <div class="col-6">
      <div id="Reviews" style="width: 30rem">
        <% if(currentUser){ %>
        <h2>Leave a Review</h2>
        <form
          action="/campgrounds/<%=camp._id%>/reviews"
          method="post"
          class="validated-form mb-2"
          novalidate
        >
          <!-- <div class="mb-3">
            <label for="Rating" class="form-label">Rating</label>
            <input
              class="form-range"
              type="range"
              min="1"
              max="5"
              name="review[rating]"
            />
          </div> -->
          <fieldset class="starability-basic">
            <input
              type="radio"
              id="no-rate"
              class="input-no-rate"
              name="review[rating]"
              value="1"
              checked
              aria-label="No rating."
            />
            <input
              type="radio"
              id="first-rate1"
              name="review[rating]"
              value="1"
            />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input
              type="radio"
              id="first-rate2"
              name="review[rating]"
              value="2"
            />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input
              type="radio"
              id="first-rate3"
              name="review[rating]"
              value="3"
            />
            <label for="first-rate3" title="Average">3 stars</label>
            <input
              type="radio"
              id="first-rate4"
              name="review[rating]"
              value="4"
            />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input
              type="radio"
              id="first-rate5"
              name="review[rating]"
              value="5"
            />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>
          <div class="mb-3">
            <label for="comment" class="form-label">Review</label>
            <textarea
              class="form-control"
              name="review[comment]"
              id="comment"
              cols="30"
              rows="4"
              required
            ></textarea>
          </div>
          <button class="btn btn-success">Submit</button>
        </form>
        <% } %>
        <h3>Reviews</h3>
        <% for(let review of camp.reviews){ %>
        <div class="card mb-2">
          <div class="card-body">
            <h5 class="card-title"><%= review.author.username %></h5>
            <p class="starability-result" data-rating="<%=review.rating %>">
              Rated: <%=review.rating %> stars
            </p>
            <h6 class="card-subtitle mb-2 text-body-secondary">
              <%=review.comment %>
            </h6>
            <form
              action="/campgrounds/<%=camp._id%>/reviews/<%= review._id%>?_method=DELETE"
              method="post"
            >
              <% if (currentUser && review.author._id.equals(currentUser._id)) {
              %>
              <button class="btn btn-sm btn-danger">Delete</button>
              <% } %>
            </form>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</div>
